<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scdx.demo.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="edu.scdx.demo.entity.Goods">
    <constructor>
      <idArg column="goods_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="brand" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_detail" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_origin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="old_price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="goods_ordernum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_hits" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, type_name, brand, goods_name, goods_pic, goods_detail, goods_origin, old_price, 
    price, goods_ordernum, goods_hits, count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods (goods_id, type_name, brand, 
      goods_name, goods_pic, goods_detail, 
      goods_origin, old_price, price, 
      goods_ordernum, goods_hits, count
      )
    values (#{goodsId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsPic,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=INTEGER}, 
      #{goodsOrigin,jdbcType=VARCHAR}, #{oldPrice,jdbcType=DOUBLE}, #{price,jdbcType=DOUBLE}, 
      #{goodsOrdernum,jdbcType=INTEGER}, #{goodsHits,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPic != null">
        goods_pic,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
      <if test="goodsOrigin != null">
        goods_origin,
      </if>
      <if test="oldPrice != null">
        old_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum,
      </if>
      <if test="goodsHits != null">
        goods_hits,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        goods_pic = #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        goods_detail = #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        old_price = #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        goods_hits = #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    set type_name = #{typeName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_pic = #{goodsPic,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=INTEGER},
      goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      old_price = #{oldPrice,jdbcType=DOUBLE},
      price = #{price,jdbcType=DOUBLE},
      goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      goods_hits = #{goodsHits,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="edu.scdx.demo.entity.Goods">
    <constructor>
      <idArg column="goods_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="brand" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_detail" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_origin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="old_price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="goods_ordernum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_hits" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, type_name, brand, goods_name, goods_pic, goods_detail, goods_origin, old_price, 
    price, goods_ordernum, goods_hits, count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods (goods_id, type_name, brand, 
      goods_name, goods_pic, goods_detail, 
      goods_origin, old_price, price, 
      goods_ordernum, goods_hits, count
      )
    values (#{goodsId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsPic,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=INTEGER}, 
      #{goodsOrigin,jdbcType=VARCHAR}, #{oldPrice,jdbcType=DOUBLE}, #{price,jdbcType=DOUBLE}, 
      #{goodsOrdernum,jdbcType=INTEGER}, #{goodsHits,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPic != null">
        goods_pic,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
      <if test="goodsOrigin != null">
        goods_origin,
      </if>
      <if test="oldPrice != null">
        old_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum,
      </if>
      <if test="goodsHits != null">
        goods_hits,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        goods_pic = #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        goods_detail = #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        old_price = #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        goods_hits = #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    set type_name = #{typeName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_pic = #{goodsPic,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=INTEGER},
      goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      old_price = #{oldPrice,jdbcType=DOUBLE},
      price = #{price,jdbcType=DOUBLE},
      goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      goods_hits = #{goodsHits,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="edu.scdx.demo.entity.Goods">
    <constructor>
      <idArg column="goods_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="brand" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_detail" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_origin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="old_price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="goods_ordernum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_hits" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, type_name, brand, goods_name, goods_pic, goods_detail, goods_origin, old_price, 
    price, goods_ordernum, goods_hits, count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods (goods_id, type_name, brand, 
      goods_name, goods_pic, goods_detail, 
      goods_origin, old_price, price, 
      goods_ordernum, goods_hits, count
      )
    values (#{goodsId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsPic,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=INTEGER}, 
      #{goodsOrigin,jdbcType=VARCHAR}, #{oldPrice,jdbcType=DOUBLE}, #{price,jdbcType=DOUBLE}, 
      #{goodsOrdernum,jdbcType=INTEGER}, #{goodsHits,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPic != null">
        goods_pic,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
      <if test="goodsOrigin != null">
        goods_origin,
      </if>
      <if test="oldPrice != null">
        old_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum,
      </if>
      <if test="goodsHits != null">
        goods_hits,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        goods_pic = #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        goods_detail = #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        old_price = #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        goods_hits = #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    set type_name = #{typeName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_pic = #{goodsPic,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=INTEGER},
      goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      old_price = #{oldPrice,jdbcType=DOUBLE},
      price = #{price,jdbcType=DOUBLE},
      goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      goods_hits = #{goodsHits,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="edu.scdx.demo.entity.Goods">
    <constructor>
      <idArg column="goods_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="brand" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_detail" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_origin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="old_price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="goods_ordernum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_hits" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, type_name, brand, goods_name, goods_pic, goods_detail, goods_origin, old_price, 
    price, goods_ordernum, goods_hits, count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods (goods_id, type_name, brand, 
      goods_name, goods_pic, goods_detail, 
      goods_origin, old_price, price, 
      goods_ordernum, goods_hits, count
      )
    values (#{goodsId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsPic,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=INTEGER}, 
      #{goodsOrigin,jdbcType=VARCHAR}, #{oldPrice,jdbcType=DOUBLE}, #{price,jdbcType=DOUBLE}, 
      #{goodsOrdernum,jdbcType=INTEGER}, #{goodsHits,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPic != null">
        goods_pic,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
      <if test="goodsOrigin != null">
        goods_origin,
      </if>
      <if test="oldPrice != null">
        old_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum,
      </if>
      <if test="goodsHits != null">
        goods_hits,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        goods_pic = #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        goods_detail = #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        old_price = #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        goods_hits = #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    set type_name = #{typeName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_pic = #{goodsPic,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=INTEGER},
      goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      old_price = #{oldPrice,jdbcType=DOUBLE},
      price = #{price,jdbcType=DOUBLE},
      goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      goods_hits = #{goodsHits,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="edu.scdx.demo.entity.Goods">
    <constructor>
      <idArg column="goods_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="brand" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_detail" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_origin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="old_price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="goods_ordernum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_hits" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, type_name, brand, goods_name, goods_pic, goods_detail, goods_origin, old_price, 
    price, goods_ordernum, goods_hits, count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods (goods_id, type_name, brand, 
      goods_name, goods_pic, goods_detail, 
      goods_origin, old_price, price, 
      goods_ordernum, goods_hits, count
      )
    values (#{goodsId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsPic,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=INTEGER}, 
      #{goodsOrigin,jdbcType=VARCHAR}, #{oldPrice,jdbcType=DOUBLE}, #{price,jdbcType=DOUBLE}, 
      #{goodsOrdernum,jdbcType=INTEGER}, #{goodsHits,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPic != null">
        goods_pic,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
      <if test="goodsOrigin != null">
        goods_origin,
      </if>
      <if test="oldPrice != null">
        old_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum,
      </if>
      <if test="goodsHits != null">
        goods_hits,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        goods_pic = #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        goods_detail = #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        old_price = #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        goods_hits = #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    set type_name = #{typeName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_pic = #{goodsPic,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=INTEGER},
      goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      old_price = #{oldPrice,jdbcType=DOUBLE},
      price = #{price,jdbcType=DOUBLE},
      goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      goods_hits = #{goodsHits,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="edu.scdx.demo.entity.Goods">
    <constructor>
      <idArg column="goods_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="brand" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_pic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_detail" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_origin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="old_price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="goods_ordernum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_hits" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, type_name, brand, goods_name, goods_pic, goods_detail, goods_origin, old_price, 
    price, goods_ordernum, goods_hits, count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods (goods_id, type_name, brand, 
      goods_name, goods_pic, goods_detail, 
      goods_origin, old_price, price, 
      goods_ordernum, goods_hits, count
      )
    values (#{goodsId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsPic,jdbcType=VARCHAR}, #{goodsDetail,jdbcType=INTEGER}, 
      #{goodsOrigin,jdbcType=VARCHAR}, #{oldPrice,jdbcType=DOUBLE}, #{price,jdbcType=DOUBLE}, 
      #{goodsOrdernum,jdbcType=INTEGER}, #{goodsHits,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.scdx.demo.entity.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsPic != null">
        goods_pic,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
      <if test="goodsOrigin != null">
        goods_origin,
      </if>
      <if test="oldPrice != null">
        old_price,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum,
      </if>
      <if test="goodsHits != null">
        goods_hits,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    <set>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPic != null">
        goods_pic = #{goodsPic,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetail != null">
        goods_detail = #{goodsDetail,jdbcType=INTEGER},
      </if>
      <if test="goodsOrigin != null">
        goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      </if>
      <if test="oldPrice != null">
        old_price = #{oldPrice,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="goodsOrdernum != null">
        goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      </if>
      <if test="goodsHits != null">
        goods_hits = #{goodsHits,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.scdx.demo.entity.Goods">
    update goods
    set type_name = #{typeName,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_pic = #{goodsPic,jdbcType=VARCHAR},
      goods_detail = #{goodsDetail,jdbcType=INTEGER},
      goods_origin = #{goodsOrigin,jdbcType=VARCHAR},
      old_price = #{oldPrice,jdbcType=DOUBLE},
      price = #{price,jdbcType=DOUBLE},
      goods_ordernum = #{goodsOrdernum,jdbcType=INTEGER},
      goods_hits = #{goodsHits,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where goods_id = #{goodsId,jdbcType=VARCHAR}
  </update>
</mapper>