<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scdx.demo.dao.ManagerRecordMapper">
  <resultMap id="BaseResultMap" type="edu.scdx.demo.entity.ManagerRecord">
    <constructor>
      <idArg column="record_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="manager_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="detail" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="order_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="goods_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    record_id, manager_id, detail, time, order_id, goods_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from managerrecord
    where record_id = #{recordId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from managerrecord
    where record_id = #{recordId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.scdx.demo.entity.ManagerRecord">
    insert into managerrecord (record_id, manager_id, detail, 
      time, order_id, goods_id
      )
    values (#{recordId,jdbcType=VARCHAR}, #{managerId,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP}, #{orderId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.scdx.demo.entity.ManagerRecord">
    insert into managerrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.scdx.demo.entity.ManagerRecord">
    update managerrecord
    <set>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.scdx.demo.entity.ManagerRecord">
    update managerrecord
    set manager_id = #{managerId,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=VARCHAR}
    where record_id = #{recordId,jdbcType=VARCHAR}
  </update>
</mapper>