<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>优惠券管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/jquery/jquery.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<!--表格-->
<table class="layui-hide" id="test" lay-filter="test"></table>
<!-- 新增弹层-->
<div class="site-text" style="margin: 5%; display: none" id="addWindow" target="test123">
    <div class="layui-form-item">
        <label class="layui-form-label">优惠券名称</label>
        <div class="layui-input-block">
            <input type="text" id="couponName" name="couponName" lay-verify="title" autocomplete="off" placeholder="请输入优惠券名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">满额</label>
            <div class="layui-input-block">
                <input type="text" id="full" name="full" lay-verify="title" autocomplete="off" placeholder="请输入金额"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">减额</label>
            <div class="layui-input-block">
                <input type="text" id="minus" name="minus" lay-verify="title" autocomplete="off" placeholder="请输入金额"
                       class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始日期</label>
            <div class="layui-input-inline">
                <input name="startDate" class="layui-input" id="startDate" type="text" placeholder="请选择开始日期"
                       autocomplete="off" lay-verify="date">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束日期</label>
            <div class="layui-input-inline">
                <input name="endDate" class="layui-input" id="endDate" type="text" placeholder="请选择结束日期"
                       autocomplete="off" lay-verify="date">
            </div>
        </div>
    </div>
</div>
</body>

<script id="toolbarDemo" type="text/html">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addCoupon">添加优惠券</button>
    </div>
</script>

<script id="barDemo" type="text/html">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:inline="none">
    layui.use(['table', 'layer', 'form', 'laydate'], function () {
        var table = layui.table;
        var layer = layui.layer
            , laydate = layui.laydate;
        //日期
        laydate.render({
            elem: '#startDate'
        });
        laydate.render({
            elem: '#endDate'
        });

        table.render({
            elem: '#test'
            , url: '/manager/manageCoupon' //TODO：修改路径
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , title: '优惠券信息表'
            , cellMinWidth: 80
            , cols: [[
                {field: 'couponId', title: '优惠券ID', sort: true}
                , {field: 'couponName', title: '优惠券名称'}
                , {field: 'full', title: '满额'}
                , {field: 'minus', title: '减额'}
                , {field: 'startDate', title: '起始日期'}
                , {field: 'endDate', title: '结束日期'}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo'}
            ]]
            , page: true
            , height: 600
            ,response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据

                return {
                    //TODO:修改接口变量
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            }
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            switch (obj.event) {
                case 'addCoupon':
                    empty();
                    layer.open({
                        type: 1,
                        title: "新增",
                        area: ['50%', '50%'],
                        btn: ['确定', '取消'],
                        content: $("#addWindow"),
                        area: ['800px', '500px'],
                        yes: function (index, layero) {
                            //alert($("#couponName").val() + '\n' +$("#full").val() + '\n' +$("#minus").val() + '\n' +$("#startDate").val() + '\n' +$("#endDate").val())
                            if ($("#couponName").val() == '') {
                                layer.msg("请输入优惠券名称", {time: 700});
                            } else if ($("#full").val() == '') {
                                layer.msg("请输入满额", {time: 700});
                            } else if ($("#minus").val() == '') {
                                layer.msg("请输入减额", {time: 700});
                            } else if ($("#startDate").val() == '') {
                                layer.msg("请选择开始日期", {time: 700});
                            } else if ($("#endDate").val() == '') {
                                layer.msg("请选择结束日期", {time: 700});
                            } else if (isNaN($("#full").val())) {
                                layer.msg("满额必须输入数值", {time: 700});
                            } else if (isNaN($("#minus").val())) {
                                layer.msg("减额必须输入数值", {time: 700});
                            } else {
                                $.ajax({
                                    type: "post",
                                    url: "/manager/addCoupon",//TODO: add url
                                    data: ({
                                        couponName: $("#couponName").val(),
                                        full: $("#full").val(),
                                        minus: $("#minus").val(),
                                        startDate: $("#startDate").val(),
                                        endDate: $("#endDate").val(),
                                        managerId: localStorage.getItem('managerId')
                                    }),
                                    //TODO:修改后端传过来的信息
                                    success: function (msg) {
                                        if (msg.success === true) {
                                            layer.msg(msg.message, {time: 700});
                                            layer.close(index);
                                            table.reload(
                                                'test',
                                                {
                                                    page: {
                                                        curr: 1
                                                    }
                                                }
                                            )
                                        } else {
                                            layer.msg(msg.message, {time: 700});
                                        }
                                    }
                                });
                            }
                        }
                    });
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定要删除此优惠券吗', function (index) {
                    $.ajax({
                        type: "post",
                        url: "/manager/deleteCoupon", //TODO: add url
                        data: ({
                            couponId: data.couponId,
                            managerId: localStorage.getItem('managerId')
                        }),//TODO: modify param name
                        //TODO:修改后端传过来的信息
                        success: function (msg) {
                            if (msg.success === true) {
                                layer.msg("删除成功", {time: 700});
                                table.reload(
                                    'test',
                                    {
                                        page: {
                                            curr: $(".layui-laypage-em").next().html()
                                        }
                                    }
                                )
                            } else {
                                layer.msg(msg.message, {time: 700});
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                $("#couponName").val(data.username);
                $("#full").val(data.experience);
                $("#minus").val(data.logins);
                $("#startDate").val(data.joinTime);
                $("#endDate").val(data.joinTime);
                layer.open({
                    type: 1,
                    title: "编辑",
                    area: ['50%', '50%'],
                    btn: ['确定', '取消'],
                    area: ['800px', '500px'],
                    content: $("#addWindow"),
                    yes: function (index, layero) {
                        //alert($("#name").val() + '\n' +$("#full").val() + '\n' +$("#minus").val() + '\n' +$("#startDate").val() + '\n' +$("#endDate").val());
                        if ($("#couponName").val() == '') {
                            layer.msg("请输入优惠券名称", {time: 700});
                        } else if ($("#full").val() == '') {
                            layer.msg("请输入满额", {time: 700});
                        } else if ($("#minus").val() == '') {
                            layer.msg("请输入减额", {time: 700});
                        } else if ($("#startDate").val() == '') {
                            layer.msg("请选择开始日期", {time: 700});
                        } else if ($("#endDate").val() == '') {
                            layer.msg("请选择结束日期", {time: 700});
                        } else if (isNaN($("#full").val())) {
                            layer.msg("满额必须输入数值", {time: 700});
                        } else if (isNaN($("#minus").val())) {
                            layer.msg("减额必须输入数值", {time: 700});
                        } else {
                            $.ajax({
                                type: "post",
                                url: "/manager/editCoupon",//TODO: add url
                                data: ({
                                    couponId: data.couponId,
                                    couponName: $("#couponName").val(),
                                    full: $("#full").val(),
                                    minus: $("#minus").val(),
                                    startDate: $("#startDate").val(),
                                    endDate: $("#endDate").val(),
                                    managerId: localStorage.getItem('managerId')
                                }),
                                success: function (msg) {
                                    if (msg.success === true) {
                                        layer.msg("修改成功", {time: 700});
                                        layer.close(index);
                                        table.reload(
                                            'test',
                                            {
                                                page: {
                                                    curr: $(".layui-laypage-em").next().html()
                                                }
                                            }
                                        )
                                    } else {
                                        layer.msg(msg.message, {time: 700});
                                    }
                                }
                            });
                        }
                    }
                });
            }
        });
    });

    function empty() {
        $("#couponName").val("");
        $("#full").val("");
        $("#minus").val("");
        $("#startDate").val("");
        $("#endDate").val("");
    }
</script>
</html>