<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

    <title>找回密码</title>
    <!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" /> -->
    <link rel="stylesheet" href="/materialize/css/materialize.css">
    <script type="text/javascript" src="/jquery/jquery.js"></script>
    <!--materialize js-->
    <script src="/materialize/js/materialize.js"></script>
    <script src="/layer/layer.js"></script>
    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
            color: #404d5b;
        }

        .margin {
            margin: 0 !important;
        }

        .card-panel {
            min-width: 350px;
        }
    </style>
</head>
<body class="blue lighten-4">
<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <form class="login-form">
            <div class="row">
                <div class="input-field col s12 center">
                    <p class="center login-form-text">找回密码</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <input class="validate" id="email" type="email">
                    <label for="email" data-error="邮箱格式错误" class="left-align">邮箱</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s6">
                    <input id="checksum" type="text" class="validate">
                    <label for="checksum">验证码</label>
                </div>
                <div class="input-field col s6" id="btnChecksum">
                    <a id="getChecksum" class="waves-effect waves-light btn">获取验证码</a>
                </div>
            </div>
            <div class="row margin" style="display: none" id="pass">
                <div class="input-field col s12">
                    <input id="password" type="password">
                    <label for="password" class="center-align">新密码</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" id="rewrite">
                    <a class="btn waves-effect waves-light col s12" id="btnWord">重置我的密码</a>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a href="register.html">立刻注册!</a></p>
                </div>
                <div class="input-field col s6 m6 l6">
                    <p class="margin right-align medium-small"><a href="login.html">登录</a></p>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
<script>

    var wait = 60;
    var emailRight = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var passwordLength = 16;
    var chechsum = "1";

    function time() {
        if (wait == 0) {
            $("#getChecksum").addClass("waves-light", "waves-effect");
            $("#getChecksum").removeClass("disabled");
            $("#getChecksum").text("获取验证码");
            wait = 60;
        } else {
            $("#getChecksum").removeClass("waves-light", "waves-effect");
            $("#getChecksum").addClass("disabled");
            $("#getChecksum").text("重新发送(" + wait + ")");
            wait--;
            setTimeout(function () {
                time()
            }, 1000)
        }
    }

    //获取验证码
    $("#btnChecksum").click(function () {
        if (emailRight.test($("#email").val())) {
            $.ajax({
                url: "/user/sendEmail/ToRetrievePassword",
                type: "post",
                data: {
                    email: $("#email").val()
                },
                success: function (data) {
                    if (data.success === true) {
                        //TODO:get chechsum from data
                        chechsum = data.message;
                        console.log(chechsum);
                        layer.msg("验证码已发送", {time: 1000});
                        time()
                    } else {
                        layer.msg(data.message, {time: 1000});
                    }
                }
            });
            alert("验证码已发送")
        } else {
            layer.msg("邮箱格式不正确", {time: 1000});
        }
    });
    //重置密码按钮
    $("#rewrite").click(function () {
        if ($("#btnWord").text() == "重置我的密码") {
            if ($("#checksum").val() != chechsum) {
                layer.msg("验证码错误", {time: 1000});
            } else {
                $("#pass").show();
                $("#btnWord").text("确认重置");
            }
        } else {
            if ($("#password").val() == "") {
                layer.msg("请输入密码", {time: 1000});
            } else if ($("#password").val().length > passwordLength) {
                layer.msg("密码长度大于16字符，请修改", {time: 1000});
            } else {
                $.ajax({
                    url: "/user/retrievePassword",
                    type: "post",
                    data: {
                        email: $("#email").val(),
                        password: $("#password").val()
                    },
                    success: function (data) {
                        if (data.success === true) {
                            layer.msg("成功修改密码，可以到登陆界面登录", {time: 1000});
                            setTimeout(function(){ window.location.href='login.html';}, 2500);
                        } else {
                            layer.msg(data.message, {time: 1000});
                        }
                    }
                });
            }
        }
    });
</script>
</html>