<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员操作</title>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <script src="/jquery/jquery.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test"></table>

</body>
<script id="toolbarDemo" type="text/html">
</script>

<script th:inline="none">
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#test'
            ,url:'/manager/getManagerRecord'//
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '管理员操作'
            ,cols: [[
                {field:'managerId', title:'管理员ID', width:120, fixed: 'left', unresize: true, sort: true}
                ,{field:'name', title:'管理员姓名', width:120}
                ,{field:'time', title:'时间', width:120, templet:'<div>{{ layui.util.toDateString(d.time, "yyyy-MM-dd HH:mm:ss") }}</div>'}
                ,{field:'detail', title:'操作内容'}
            ]]
            ,page: true
            ,height: 600
            ,response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据

                //alert(JSON.parse(res));
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            }
        });
    });
</script>
</html>
