<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>已发货订单信息</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/jquery/jquery.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test"></table>

</body>
<script id="toolbarDemo" type="text/html">
</script>

<script th:inline="none">
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/manager/check/sendedOrder'//TODO:url
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '已发货订单'
            ,cellMinWidth: 80
            ,height: 600
            ,cols: [[
                //TODO：修改field中的变量名，现在写的变量名是测试时候文件的变量名
                {field:'orderId', title:'订单ID',fixed: 'left', unresize: true, sort: true}
                ,{field:'nickName', title:'用户名'}
                ,{field:'goodsName', title:'商品名'}
                ,{field:'creationTime', title:'创建时间', sort: true,templet:'<div>{{ layui.util.toDateString(d.creationTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
                ,{field:'payTime', title:'支付时间', sort: true,templet:'<div>{{ layui.util.toDateString(d.payTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
                ,{field:'deliveryTime', title:'发货时间', sort: true,templet:'<div>{{ layui.util.toDateString(d.deliveryTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
                ,{field:'receivingTime', title:'收货时间', sort: true,templet:'<div>{{ layui.util.toDateString(d.receivingTime, "yyyy-MM-dd HH:mm:ss") }}</div>'}
                ,{field:'moneyOfGoods', title:'商品价格'}
                ,{field:'moneyOfDelivery', title:'运费价格'}
                ,{field:'orderPoints', title:'订单积分'}
            ]]
            ,page: true
            ,response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            }
            ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据

                //alert(JSON.parse(res));
                return {
                    //TODO:修改接口变量
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                };
            }
        });
    });
</script>
</html>