<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/jquery/jquery.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/js/area.js" type="text/javascript"></script>
    <script src="/js/select.js" type="text/javascript"></script>
</head>
<body>

<!--商品名输入框-->
<div class="layui-form-item">
    <label class="layui-form-label">商品名称</label>
    <div class="layui-input-block">
        <input id="goodsName" name="title" class="layui-input" type="text" placeholder="在此处输入商品名称" autocomplete="off"
               lay-verify="title">
    </div>
</div>
<!--品牌输入框和商品类型选择-->
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">商品品牌</label>
        <div class="layui-input-inline">
            <input id="goodsBrand" name="title" class="layui-input" type="text" placeholder="在此处输入商品品牌"
                   autocomplete="off"
                   lay-verify="title">
        </div>
    </div>
    <form id="selectType" class="layui-form-item layui-inline">
        <div class="layui-form">
            <label class="layui-form-label">商品类型</label>
            <div class="layui-input-inline">
                <select id="goodsType" name="type" lay-filter="type">
                    <option value="">请选择</option>
                    <option value="1">测试类型</option>
                </select>
            </div>
        </div>
    </form>
</div>
<!--产地选择框-->
<form id="selectOrigin" class="layui-form-item layui-inline">
    <div class="layui-form">
        <label class="layui-form-label">产地</label>
        <div class="layui-inline">
            <select name="province" id="province" lay-verify="required" lay-search lay-filter="province">
                <option value="">请选择省</option>
            </select>
        </div>
        <div class="layui-inline">
            <select name="city" id="city" lay-verify="required" lay-search lay-filter="city">
                <option value="">请选择市</option>
            </select>
        </div>
        <div class="layui-inline">
            <select name="district" id="district" lay-verify="required" lay-search>
                <option value="">请选择县/区</option>
            </select>
        </div>
    </div>
</form>
<!--这块是商品图片-->
<div class="layui-form-item">
    <label class="layui-form-label">商品图片</label>
    <img id="image" class="image" style="height: 200px; width: 200px;"/>
    <input id="imageFile" type="file" name="imageFile" accept="image/png,image/jpg,image/jpeg,image/bmp"/>
</div>

<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">商品详情</label>
    <div class="layui-input-block">
        <textarea id="goodsDetail" class="layui-textarea" placeholder="在此输入商品详细信息"></textarea>
    </div>
</div>

<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">入库量</label>
        <div class="layui-input-inline">
            <input id="goodsNum" name="title" class="layui-input" type="text" placeholder="在此处输入入库量" autocomplete="off"
                   lay-verify="title">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">价格</label>
        <div class="layui-input-inline">
            <input id="goodsPrice" name="title" class="layui-input" type="text" placeholder="在此处输入商品价格"
                   autocomplete="off"
                   lay-verify="title">
        </div>
    </div>
</div>

<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" lay-filter="demo1" id="submit">立即提交</button>
        <button class="layui-btn layui-btn-primary" id="reset">重置</button>
    </div>
</div>
</body>
<script>
    layui.use(['form', 'layedit', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit;
    })
</script>
<script>
    var imageData = "";
    //图片加载
    $("#imageFile").change(function () {
        var file = this.files[0];
        if (window.FileReader) {
            var reader1 = new FileReader();
            var reader2 = new FileReader();
            reader1.readAsDataURL(file);
            reader2.readAsBinaryString(file);
            //监听文件读取结束后事件
            reader1.onloadend = function (e) {
                //e.target.result就是最后的路径地址
                $("#image").attr("src", e.target.result);
            };
            reader2.onload = function (e) {
                imgBinaryString = this.result;
                imageData = imgBinaryString;
            };
        }
    });
    $("#reset").click(function(){
        window.location.reload();
    });
    $("#submit").click(function () {
        var goodsName = $("#goodsName").val();
        var goodsBrand = $("#goodsBrand").val();
        var goodsType = $("#goodsType option:selected").text();
        var goodsDetail = $("#goodsDetail").val();
        var goodsProvince = $("#province").val();
        var goodsCity = $("#city").val();
        var goodsDistinct = $("#district").val();
        var goodsNum = $("#goodsNum").val();
        var goodsPrice = $("#goodsPrice").val();
        var goodsOrigin = "";
        var re = /^[1-9]+[0-9]*]*$/;
        //alert(goodsName + '\n' + goodsBrand + '\n' + goodsType + '\n' + goodsDetail + '\n' + goodsProvince + '\n' + goodsCity + '\n' + goodsDistinct + '\n' + goodsNum + '\n' + goodsPrice + '\n' + imageData);
        if (goodsType == "请选择") {
            goodsType = "";
        }
        if (goodsProvince != 0 && goodsProvince != "") {
            goodsOrigin = goodsOrigin + goodsProvince;
            if (goodsCity != 0) {
                goodsOrigin = goodsOrigin + goodsCity;
                if (goodsDistinct != 0) {
                    goodsOrigin = goodsOrigin + goodsDistinct;
                }
            }
        }
        if (goodsName == "") {
            layer.msg("请输入商品名称", {time: 700});
        } else if (goodsNum == "") {
            layer.msg("请输入库存量", {time: 700});
        } else if (!re.test(goodsNum)) {
            layer.msg("库存量请输入正整数", {time: 700});
        } else if (goodsPrice == "") {
            layer.msg("请输入价格", {time: 700});
        } else if (isNaN(goodsPrice)) {
            layer.msg("价格请输入数字", {time: 700});
        } else {
            //console.log(imgBinaryString);
            $.ajax({
                url: "/manager/insertgood", //TODO: url
                type: "post",
                //contentType: "application/json",
                //TODO: param name
                data: {
                    goodsName: goodsName,
                    brand: goodsBrand,
                    typeName: goodsType,
                    goodsDetail: goodsDetail,
                    goodsOrigin:goodsOrigin,
                    count: goodsNum,
                    oldPrice: goodsPrice,
                    price: goodsPrice,
                    goodsPic: imgBinaryString
                },
                success: function (data) {
                    if(data.success === true){
                        layer.msg("添加成功",{time:700});
                        setTimeout(function () {
                            window.location.reload();
                        }, 700);
                    }else{
                        layer.msg("添加失败",{time:700});
                    }
                }
            });
        }
    });
</script>
</html>