<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	
	<title>找回密码</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" /> -->
	<link rel="stylesheet" href="/materialize/css/materialize.css">
	<script type="text/javascript" src="/jquery/jquery.js"></script>
	<!--materialize js-->
	<script src="/materialize/js/materialize.js"></script>
	<style type="text/css">
	html,
	body {
	    height: 100%;
	}
	html {
	    display: table;
	    margin: auto;
	}
	body {
	    display: table-cell;
	    vertical-align: middle;
		color:#404d5b;
	}
	.margin {
	  margin: 0 !important;
	}
	.card-panel{ min-width:350px;}
	</style>
</head>
<body class="blue lighten-4">
	<div id="login-page" class="row">
	    <div class="col s12 z-depth-6 card-panel">
	      <form class="login-form">
	        <div class="row">
	          <div class="input-field col s12 center">
	            <p class="center login-form-text">找回密码</p>
	          </div>
	        </div>
	        <div class="row margin">
	          <div class="input-field col s12">
	            <input class="validate" id="email" type="email">
	            <label for="email" data-error="wrong" data-success="right" class="left-align">邮箱</label>
	          </div>
	        </div>
			  <div class="row margin">
				  <div class="input-field col s6">
					  <input id="checksum" type="text" class="validate">
					  <label for="checksum">验证码</label>
				  </div>
				  <div class="input-field col s6" id="btnChecksum">
					  <a id="getChecksum" class="waves-effect waves-light btn">获取验证码</a>
				  </div>
			  </div>
			  <div class="row margin" style="display: none" id="pass">
				  <div class="input-field col s12">
					  <input id="password" type="password">
					  <label for="password" class="center-align">新密码</label>
				  </div>
			  </div>
	        <div class="row">
	          <div class="input-field col s12" id="rewrite">
	            <a class="btn waves-effect waves-light col s12" id="btnWord">重置我的密码</a>
	          </div>
	        </div>
	        <div class="row">
	          <div class="input-field col s6 m6 l6">
	            <p class="margin medium-small"><a href="register.html">立刻注册!</a></p>
	          </div>
	          <div class="input-field col s6 m6 l6">
	              <p class="margin right-align medium-small"><a href="login.html">登录</a></p>
	          </div>          
	        </div>

	      </form>
	    </div>
	  </div>
</body>
<script>
	$("#rewrite").click(function () {
		$("#pass").show();
		$("#btnWord").text("确认重置");
	});
	var wait=60;
	function time() {
		if (wait == 0) {
			$("#getChecksum").addClass("waves-light", "waves-effect" );
			$("#getChecksum").removeClass("disabled");
			$("#getChecksum").text("获取验证码");
			wait = 60;
		} else {
			$("#getChecksum").removeClass("waves-light", "waves-effect" );
			$("#getChecksum").addClass("disabled");
			$("#getChecksum").text("重新发送(" + wait + ")");
			wait--;
			setTimeout(function() {
				time()
			},   1000)
		}
	}
	$("#btnChecksum").click(function(){
		time()
	});
</script>
</html>